<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" 
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/weatherStyle.css" />
    <title>Dynamic Weather App</title>
  </head>
  <body>
    <!-- navbar  -->
    {{>navbar}}

    <!-- main hearder -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="main_info_container">
           
            <div class="main_search">
              <form class="search_form" autocomplete="off">
                <input
                  type="text"
                  id="search_text"
                  placeholder="Enter City Name"
                />
                <input type="submit" id="search_btn" value="Search" />
              </form>
            </div>


            <div class="temp_info">
              <div class="upper_layer">
                <p id="day">Day</p>
                <p id="date">Date | Time</p>
              </div>
              <div class="main_layer">
                <p id="city"></p>
                <div class="middle_layer data_hide">
                  <p id="temp"><span id="temp_real_value">32.45</span><sup>o</sup>C</p>
                  <div id="temp_status">
                    <i class="fas fa-sun" style="color:#F7D975;"></i>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <!-- footer  -->
    {{>footer}}

    <script src="js/weather.js"></script>
  </body>
</html>

